.chess-board {
  margin: 1rem auto;
  display: grid;
  grid-template-rows: repeat(8, 50px);
  grid-template-columns: repeat(8, 50px);
  width: 400px;
  height: 400px;

  .square {
    width: 50px;
    height: 50px;

    &.black {
      background-color: #769656;
    }

    &.white {
      background-color: #eeeed2;
    }
  }
}