.chess-board {
  margin: 1rem auto;
  display: grid;
  grid-template-rows: repeat(8, 50px);
  grid-template-columns: repeat(8, 50px);
  width: 400px;
  height: 400px;

  .square {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;

    &.black {
      background-color: #769656;
    }

    &.white {
      background-color: #eeeed2;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 128, 255, 0.3);
    }

    .start {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      div {
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        border: 2px solid palevioletred;
        z-index: 99;
      }
    }
  }
}