.switch-box {
  min-height: 1000vh;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}

.light-theme {
  color: #000;
  background-color: #fff;
}

.dark-theme {
  color: #fff;
  background-color: #333;
}