.player-wrapper {

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
    border: 1px solid transparent;

    &.active {
      border-color: palevioletred;
      cursor: pointer;
    }

    span {
      padding: 5px;
    }
  }
}

