.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    margin: 30px;
    padding: 0;

    li {
      list-style: none;
      margin: 30px;

      button {
        margin: 0 auto;
        display: block;
      }
    }
  }
}